{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises
{% endblock %}

{% block body %}
	<h1 class="py-5 text-center">liste des entreprises</h1>
	<section>
		<div class="container px-4 px-lg-5 mt-5 ">
			<div class="row gx-3 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 d-flex justify-content-center">
				{% for compagny in compagnies %}
					<div class="col card text-white bg-dark p-2 m-2">
						<div class="card-body">
							<div>
								<h5 class="fw-bolder text-center">{{ compagny.name  }}</h5>
								<div>
									<span class="text-muted">Responsable :
									</span>
									{{  compagny.leaderName }}
									{{  compagny.leaderFirstName }}
								</div>
								<div>
									<span class="text-muted">Téléphone :
									</span>
									{{ compagny.phone }}</div>
								<div>
									<span class="text-muted">Email :
									</span>
									{{ compagny.mail }}</div>
							</div>
						</div>
						<div class="card-footer p-4 pt-0 border-top-0 ">
							<div class="text-center">
								<td>
									<a href="{{ path('app_compagny_show', {'id': compagny.id}) }}" class="btn btn-sm btn-primary">Voir le détail</a>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('app_compagny_edit', {'id': compagny.id}) }}" class="btn btn-sm btn-success">Modifier</a>
									{% endif %}
								</td>
							</div>
						</div>
					</div>
				{% else %}
					<tr>
						<td colspan="9">Aucune entreprise trouvée</td>
					</tr>
				{% endfor %}
			</div>
			{% if is_granted('ROLE_ADMIN') %}
				<div class="d-flex justify-content-center">
					<a href="{{ path('app_compagny_new') }}" class="btn btn-sm btn-dark">Ajouter une entreprise</a>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
