{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires
{% endblock %}

{% block body %}
	<h1>Liste des stagiaires</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Name</th>
				<th>FirstName</th>
				<th>IsFirstLogin</th>
				<th>Address</th>
				<th>AdditionalAddress</th>
				<th>ZipCode</th>
				<th>City</th>
				<th>Phone</th>
				<th>DateOfBirth</th>
				<th>SsNumber</th>
				<th>Comment</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.IsFirstLogin ? 'Yes' : 'No' }}</td>
					<td>{{ user.address }}</td>
					<td>{{ user.additionalAddress }}</td>
					<td>{{ user.zipCode }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.phone }}</td>
					<td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
					<td>{{ user.ssNumber }}</td>
					<td>{{ user.comment }}</td>
					<td>
						<a href="{{ path('app_intern_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('app_intern_edit', {'id': user.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="16">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_intern_new') }}">Create new</a>
{% endblock %}
