{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
    <h1 class="py-5 text-center">Fiche
		{{ user.firstName }}
		{{ user.name }}</h1>

    <div class="col mb-5 border-2 card text-white bg-dark container p-2 ">
		<div class=" p-4 rounded-4 row justify-content-around">
			<div class="col-6 border p-3">
				<span class="text-muted ">Nom :
				</span>
				{{ user.name }}
				<br>
				<span class="text-muted">Prénom :
				</span>
				{{ user.firstName }}
				<br>
				<span class="text-muted">Téléphone :
				</span>
				{{ user.phone }}
				<br>
				<span class="text-muted">Email :
				</span>
				{{ user.email }}

				<br>
				<span class="text-muted">Numéro de Sécurité sociale :
				</span>
				{{ user.ssNumber }}

			</div>
			<div class="col-6 border p-3">
				<span class="text-muted">Adresse :
				</span>
				{{ user.address }}
				<br>
				<span class="text-muted">Complément d'adresse :
				</span>
				{{ user.additionalAddress }}
				<br>
				<span class="text-muted">Code postal :
				</span>
				{{ user.zipCode }}
				<br>
				<span class="text-muted">Ville :
				</span>
				{{ user.city }}
				<br>
				<span class="text-muted">Date de naissance :
				</span>
				{{ user.dateOfBirth ? user.dateOfBirth|date('d-m-Y') : '' }}
			</div>
			<div class="col-12 border p-3">
				<span class="text-muted">Commentaire :
				</span>
				{{ user.comment }}
			</div>
			<div class="col-12 border p-3">
				<span class="text-muted">Statut :
				</span>
				{{ user.status }}
			</div>
		</div>
		<div class=" text-center">
			<a href="{{ path('app_intern_index') }}"  class="btn btn-success">Retour à la liste</a>
			<a href="{{ path('app_intern_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
			{{ include('intern/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
