{% extends 'base.html.twig' %}

{% block title %}
	index des tâches
{% endblock %}

{% block body %}
	<h1 class="py-5 text-center">Voici la liste des tâches</h1>

	{# <form action="{{ path('app_task_delete_all') }}" method="post"> #}
	<table class="table">
		<thead>
			<tr>
				{# <th>Selection</th> #}
				<th>Description</th>
				<th>Faite par</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
				<tr>
					{# <td><input type="checkbox" name="tasks[]" value="{{ task.id }}"></td> #}
					<td>{{ task.name }}</td>
					<td>{{ task.madeBy }}</td>
					<td>
						<a href="{{ path('app_task_show', {'id': task.id}) }}" class="btn btn-success">Détails</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-warning">Modifier</a>
							{{ include('task/_delete_form.html.twig') }}
						{% endif %}
						{{ include('task/_done_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Pas de tache pour le moment</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{# <input type='submit' value='Supprimer les tâches sélectionnées' name="deleteall" class="btn btn-danger mb-3 mx-auto"> #}
	{# </form> #}
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_task_new') }}" class="btn btn-primary mb-3 mx-auto">Ajouter une nouvelle tâche</a>
	{% endif %}
{% endblock %}
